body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    width: 200px;
    background-color: #5A5A5A;
    border: 10px solid black;
    border-radius: 10px;
    padding: 10px;
}

#e-name {
    color: white;
    font-size: 50px;
    background-color: black;
    border: solid black 1px;
    border-radius: 5px;
    height: 70px;
    width: 200px;
    text-align: center;
}

#e-name::placeholder {
    color: white;
    font-size: 50px;
    text-align: center;
}

#eHealth {
    color: black;
    font-size: 100px;
    text-align: center;
    background-color: white;
    border: solid white 1px;
    border-radius: 5px;
    height: 150px;
    width: 200px;
    -moz-appearance: textfield;
}

#eHealth::placeholder {
    color: black;
    font-size: 100px;
    text-align: center;
}

#eHealth::-webkit-outer-spin-button,
#eHealth::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#healthChunk {
        color: black;
        font-size: 30px;
        text-align: center;
        background-color: #d6d6d7;
        border: solid #d6d6d7 1px;
        border-radius: 5px;
        height: 50px;
        width: 200px;
        -moz-appearance: textfield;
}

#healthChunk::placeholder {
    color: #838383;
    font-size: 29px;
    text-align: center;
}

#healthChunk::-webkit-outer-spin-button,
#healthChunk::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-subtract-btn {
    display: flex;
    width: 205px;
    height: 80px;
    justify-content: space-between;
}

#add {
    flex-basis: 45%;
    background-color: #7ab5e6;
    border: solid 1px #7ab5e6;
    border-radius: 5px;
    font-size: 75px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50%;
}

#subtract {
    flex-basis: 45%;
    background-color: #e6a37a;
    border: solid 1px #e6a37a;
    border-radius: 5px;
    font-size: 80px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50%;
}

#undo {
    font-weight: bold;
    font-size: 30px;
    background-color: #eceabb;
    border: solid 1px #eceabb;
    border-radius: 5px;
    width: 205px;
    height: 40px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}
