body {
    font-family: Arial, Helvetica, sans-serif;
}

#e-name {
    color: white;
    font-size: 50px;
    background-color: black;
    border: 0;
    border-radius: 5px;
    height: 70px;
    width: 200px;
}

#e-name::placeholder {
    color: white;
    font-size: 50px;
    text-align: center;
}
